body {
  background-color: rgb(116, 116, 116);
}

header {
  background-color: orange;
  width: 8.3vw;
  position: fixed;
  height: 100vh;

  h1 {
    text-transform: uppercase;
    margin-top: 40px;
    max-width: 25px;
    word-break: break-all;
    text-align: center;
    span.desktop-only {
      display: block;
    }
  }
}

.page-content {
  margin-left: 8.3vw;

  .page {
    min-height: 100vh;
  }

  .page-1,
  .page-2 {
    border-left: 16px solid #f9f135;
    border-right: 16px solid #f9f135;
  }

  .page-1,
  .page-2 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
  }

  .page-1 {
    .tahini {
      grid-column: 1 / span 4;
    }

    .blooper {
      grid-column: 5 / span 7;
      color: #00ff39;
    }

    .image {
      grid-column: 1 / span 5;
      background-image: url("../photos/sallad.jpg");
      background-size: cover;
      background-position: center center;
      position: relative;
      &:hover {
        .arrow {
          bottom: 16px;
        }
      }
      .arrow {
        transform: rotate(90deg);
        position: absolute;
        transition: bottom 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        bottom: 8px;
        left: 8px;
      }
    }

    .blooper-2 {
      grid-column: 6 / span 6;
      background-color: white;
      color: #ab77fe;

      .p {
        color: black;
        position: absolute;
      }

      .arrow-2 {
      }
    }
  }

  .page-2 {
    .image-1 {
      grid-column: 1 / span 3;
    }
    .image-2 {
      grid-column: 4 / span 4;
    }
    .image-3 {
      grid-column: 8 / span 4;
    }

    .menu {
      padding: 0;
      list-style: 0;
      margin: 0;
      grid-column: span 11;

      li {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 16px;

        background-color: #fff;
        color: #000;
        border-top: 4px solid #000;
        border-bottom: 4px solid #000;
        margin-bottom: 8px;
      }

      .dish-name {
        grid-column: span 4;
      }
      .dish-desc {
        grid-column: span 6;
      }
      .dish-price {
        grid-column: span 1;
        text-align: right;
      }
    }
  }

  .page-3 {
    background-color: #5fff37;
    color: black;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
    align-items: center;
    .book {
      grid-column: span 5;
      padding-left: 16px;
    }
    .contact {
      grid-column: span 6;
      background-image: url(../photos/restaurant.jpg);
      background-size: cover;
      background-position: center center;
      position: relative;
      color: #20bdf1;
    }
  }
}

.cookies {
  background-color: #ac77ff;
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  padding-block: 16px;
}
