* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.menu-button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 2;
  pointer-events: none;
}

.menu-button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #efe233;
  border-radius: 6px;
  margin-bottom: 4px;
}

.input-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;
}

input:checked + .menu .menu-button span {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

input:checked + .menu .menu-button span:nth-child(2) {
  opacity: 0;
}

input:checked + .menu .menu-button span:nth-child(1) {
  transform: rotate(45deg);
}

input:checked + .menu .menu-button span:nth-child(3) {
  transform: rotate(-45deg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(263, 100%, 73%);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
  z-index: -1;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h1 {
  text-transform: uppercase;
  position: fixed;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 70px;
  margin-left: 1rem;
}

$debugging: false;

.page-title {
  @if $debugging {
    outline: 1px solid red;
  }

  text-transform: uppercase;
  position: relative;
  min-width: 300px;
  min-height: 300px;
  font-family: "Jockey One", sans-serif;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .drizzle,
  .chickpeas {
    position: absolute;
  }
  .drizzle {
    color: #ac77ff;
    top: -8px;
    right: 0;
    font-size: 1.57rem;
  }
  .tahini {
    color: #5fff37;
    font-size: 4rem;
  }
  .chickpeas {
    color: #f9f135;
    left: 0;
    bottom: -3px;
    font-size: 1.75rem;
    z-index: -1;
  }
}

.page-1,
.page-2 {
  border-left: 8px solid #f9f135;
  border-right: 8px solid #f9f135;
}
.page-3 {
  border-left: 8px solid #fff;
  border-right: 8px solid #fff;
}

.page-2 {
  border: 3px solid #f9f135;
  .food-one img,
  .food-two img,
  .food-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info-1 {
  background-color: #ac77ff;
  display: inline-block;
  padding-inline: 5px;
  text-transform: uppercase;
  transform: rotate(4deg);
}
.info-2 {
  background-color: #5fff37;
  display: inline-block;
  padding-inline: 5px;
  text-transform: uppercase;
  transform: rotate(-4deg);
}
.info-3 {
  background-color: #f9f135;
  display: inline-block;
  padding-inline: 5px;
  text-transform: uppercase;
}

.image {
  &-sallad {
    background-image: url("../assets/photos/sallad.jpg");
    background-size: cover;
    background-position: center center;
    width: 80px;
    height: auto;
  }
}
